* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 30% 55% 15%;
}

.left_top {
    padding: 30px;
}

.left_top_right {
    padding: 10px;
    align-content: center;
    justify-items: end;
}

.left_top_right h4 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 300;
}

.left_top_right h5 {
    font-size: 20px;
    font-weight: 300;
}

.square {
    width: 25px;
    height: 25px;
    background-color: black;
    rotate: 45deg;
}

.right {
    padding: 30px;
    grid-column: 3;
    grid-row: 1 / 5;
    padding-right: 100px;
}

.right video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.left_center {
    grid-column: 1 / 3;
    padding: 50px;
}

.left_center h1 {
    line-height: 6.5vw;
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.left_center h1:nth-child(2n) {
    justify-self: end;
}

.left_bottom {
    padding: 30px;
    grid-column: 1/3;
}

.left_bottom p {
    width: 80%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#arrow {
    background-color: orangered;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: (-50%, -50%);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:600px) {
    .main {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 60px auto  20% ;
        
    }

    .right {
        padding: 10px;
        grid-column: 1 / 3;
        grid-row: 4;
    }

    .left_top_right {
        
        align-content: center;
        justify-items: end;
    }

    .left_top_right h4 {
        margin-bottom: 20px;
        font-size: 15px;
        font-weight: 300;
    }

    .left_top_right h5 {
        font-size: 10px;
        font-weight: 300;
    }

    .square {
        width: 15px;
        height: 15px;
        background-color: black;
        rotate: 45deg;
    }



    .right video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .left_center {
        grid-column: 1 / 3;
        
    }

    .left_center h1 {
        line-height: 11.5vw;
        font-size: 12vw;
        text-transform: uppercase;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        width: fit-content;
    }

    .left_bottom {
        height: fit-content;
        grid-row: 3;
        grid-column: 1 / 3;
        width: fit-content;
        overflow: hidden;
        padding: 10px;
    }

    .left_bottom p {
        width: 100%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    #arrow { visibility: hidden;
        background-color: orangered;
        border-radius: 50%;
        position: absolute;
        left: 43%;
        top: 70%;
        transform: (-50%, -50%);
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        rotate: 90deg;
    }

}